<html>
    <body>
        <h1><%= title %></h1>

        <form method="POST" action="/new">
            <input type="text" name="user" placeholder="Your name">
            <input type="text" name="text" placeholder="Your message">
            <button type="submit">Send</button>
        </form>
    </body>
</html>